/* This file is part of the GeoRefImages Firefox extension.

    GeoRefImages is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GeoRefImages is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with GeoRefImages.  If not, see <http://www.gnu.org/licenses/>.
*/

#svgCanvas {
	margin: 0;
	padding: 0;
}

#grpGuidesV, #grpGuidesH {
	stroke: purple;
	stroke-width: 3px;
}

.cursor {
	stroke: blue;
	stroke-width: 1px;
}

.marker {
	stroke: red;
	stroke-width: 1px;
}

#rectMaskCrop {
	fill: #ffffff;
}

#maskCrop rect:first-child, #grpMask rect {
	fill: #a0a0a0;
}
